/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css");


.body {
  background-color: #FAFAFA;
  box-shadow: 0 0 0 0 !important;

}

mat-sidenav.mat-sidenav-opened, mat-sidenav.mat-sidenav-opening {
  box-shadow: 0 0 0 0 !important;
}

