<body class="body">
<h2 class="dashboardHeading">EOD Reconciliation</h2>
<div class="component">
  <br>
  <div class="container content">
    <div class="row">
      <div class="col-12">

        <table mat-table [dataSource]="allTrades" class="mat-elevation-z8">

          <!-- Position Column -->
          <ng-container matColumnDef="tradeID">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let trade"> {{trade.id}} </td>
          </ng-container>

          <!--  Stock -->
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> Stock </th>
            <td mat-cell *matCellDef="let trade"> {{trade.state}} </td>
          </ng-container>

          <!-- Stock Price -->
          <ng-container matColumnDef="tradePrice">
            <th mat-header-cell *matHeaderCellDef> Stock Price </th>
            <td mat-cell *matCellDef="let trade"> {{trade.price | currency}} </td>
          </ng-container>

          <!-- Trade Volume -->
          <ng-container matColumnDef="tradeSize">
            <th mat-header-cell *matHeaderCellDef> Volume </th>
            <td mat-cell *matCellDef="let trade"> {{trade.size}} </td>
          </ng-container>

          <!--  Trade Type -->
          <ng-container matColumnDef="tradeType">
            <th mat-header-cell *matHeaderCellDef> StrategyID </th>
            <td mat-cell *matCellDef="let trade"> {{trade.tradeType}} </td>
          </ng-container>

          <!--  Stock Ticker -->
          <ng-container matColumnDef="ticker">
            <th mat-header-cell *matHeaderCellDef> Stock </th>
            <td mat-cell *matCellDef="let trade"> {{trade.stockTicker}} </td>
          </ng-container>

          <!--  Last State Change -->
          <ng-container matColumnDef="LastStateChange">
            <th mat-header-cell *matHeaderCellDef> State Change </th>
            <td mat-cell *matCellDef="let trade"> {{trade.lastStateChange | date: 'short'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>


      </div>
    </div>
  </div>
</div>
</body>


