.body {

}

.dashboardHeading {
  padding-right: 30px;
  background-color: #FAFAFA;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.component{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
}

.content{
  width: 90%;
  float: left;
}

table {
  width: 100%;
  border-radius: 14px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
