@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css");

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.component{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
}

.content{
  width: 90%;
  float: left;
}

.formStrat {
  width: 98%;
}

.colbutton{
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 98%;
}

.btnSidebar {

  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  font-weight: 400;
  width: 45%;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 14px;
  line-height: 1.42857143;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
}

mat-slider {
  width: 300px;
}

percentCss{
  color : #ff69b4;
}

 .ngx-timepicker-control[_ngcontent-bdt-c12] {

 }
.ngx-timepicker {
  position: relative !important;
  display: flex !important;
  height: 30px !important;
  padding: 0 5px !important;
  box-sizing: border-box !important;
  width: 100% !important;
  border: 0 !important;
  font-size: 1rem !important;
  color: inherit;
  outline: 0 !important;
  text-align: center !important;
  background-color: #FAFAFA !important;
  display: flex !important;
  align-items: center !important;
  float : right !important;
  border-bottom: none !important;
  height: 80% !important;
}

ngx-timepicker-control{
  background-color: #ff69b4 !important;
}
ngx-timepicker__control--first{
  background-color: #ff69b4 !important;
}
ngx-timepicker-control__input ng-untouched ng-pristine ng-valid{
  -webkit-appearance: textfield;
  background-color: #ff69b4 !important;
  -webkit-rtl-ordering: logical;
  cursor: text;
}
.ngx-timepicker-control__input{
  width: 100% !important;
  height: 100% !important;
  padding: 0 5px 0 0 !important;
  border: 0 !important;
  font-size: 1rem !important;
  color: inherit !important;
  outline: 0 !important;
  text-align: center !important;
  background-color: #FAFAFA !important;
  float : right !important;
  border-bottom: none !important;
  height: 80% !important;

}

timePicker2{
  display: flex;
  align-items: center;

}


.dashboardHeading {
  padding-right: 30px;
  background-color: #FAFAFA;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



