<body class="body">
<h2 class="dashboardHeading">Book Trade</h2>
<div class="component">
  <br><br><br>
  <div class="container content">
    <div class="row">
      <div class="col-12">
        <mat-form-field class="formStrat" style="width: 100%">
          <mat-select  placeholder="Select Strategy Type" [(ngModel)]='selectedStrategy' >
            <mat-option *ngFor="let item of algo"  [value]="item.name">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <div class="container content">
    <div class="row">
      <div class="col-4">
        <mat-form-field style="width: 100%">
          <mat-select placeholder="Stock Name" [(ngModel)]='whichStock'>
            <mat-option *ngFor='let item of stocks' [value]="item.id">{{ item.ticker }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Volume" type="number" [(ngModel)]='stockSize'>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field style="width: 100%">
          <mat-select placeholder="Exit Strategy" [(ngModel)]='exitStrategy'>
            <mat-option value="1">Time - AM/PM</mat-option>
            <mat-option value="2">Percentage - %</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <br><br><br><br>

  <div class="container content" *ngIf="exitStrategy==1">
    <div class="row">
      <div class="col-6" style="width: 100%">
        <mat-form-field class="formStrat" style="width: 100%">
          <input matInput [matDatepicker]="picker" placeholder="Choose a date ( DD-MM-YYYY )">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-label style="color: #848484; margin-top:10px; display:inline-block; float:right">Select Time</mat-label>
      </div>
      <div class="col-4" style="width: 120%">
        <div class="ngx-timepicker" style="width: 100% !important; float: right !important;" >
          <ngx-timepicker-field class="ngx-timepicker-control__input"  style="width: 100% !important; float: right !important;" [defaultTime]="'09:15 am'"></ngx-timepicker-field>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <div class="container content" *ngIf="exitStrategy==2" >
    <div class="row">
      <div class="col-6">
      <mat-label style="color: #848484">Slide for Profit/Loss Percentage</mat-label>
    </div>
      <div class="col-3">
      <mat-label id style="color: #848484">Selected Percentage</mat-label>
    </div>
      <div class="col-3">
        <mat-label id="plOutput" style="color: #848484"></mat-label>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div style="width: 100%">
          <mat-slider
            thumbLabel
            [(ngModel)]="exitStrategyValue"
            [displayWith]="formatLabel"
            tickInterval="1"
            min="1.0"
            max="20.0" style="width: 100%">
          </mat-slider>
        </div>
      </div>
    </div>
  </div>
  <div class="container content">
    <div class="row">
      <div class="col-5"></div>
      <div class="colbutton">
        <br/><br><br>
        <button class="btnSidebar" (click)="postTrade(whichStock,stockSize,exitStrategyValue)">Trade</button>
      </div>
    </div>
  </div>
</div>
</body>
