<mat-sidenav-container>

  <mat-sidenav opened mode="side" class="sidebar">
    <div>
      <br>
    </div>
    <div>
      <a routerLink="/">
        <img class="citiImage" src="../../assets/citi.png" alt="Citi Trading Assessment"/>
      </a>
    </div>
    <br><br><br><br>
    <button class="btnSidebar" mat-button routerLink="/">TradingUi</button>
    <br/><br><br>
    <button class="btnSidebar" mat-button routerLink="/book_trade">Book Trade</button>
    <br/><br><br>
    <button class="btnSidebar" mat-button routerLink="/eod_trade">EOD Trade Reconciliation </button>
    <br/><br><br>
<!--    <button class="btnSidebar" mat-button routerLink="/book_trade">Historical Trade's</button>-->
<!--    <br/><br><br>-->

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

