@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css");

mat-sidenav {
  width: 230px;
  background-color: #fafafa;
  box-shadow: 0 0 0 0 !important;
  overflow: hidden;

}

mat-sidenav-content {
  box-shadow: 0 0 0 0 !important;
  overflow: hidden;
}

.citiImage {
  height: 70%;
  width: 70%;
  float: left;
  padding-left: 35%;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.sidebar {
  border-radius: 0;
  position: fixed;
  z-index: 1000;
  left: 235px;
  width: 235px;
  margin-left: -235px;
  margin-bottom: 48px;
  border: none;
  border-radius: 0;
  background-color: #FAFAFA;
  bottom: 0;
  overflow-x: hidden;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0 0 0 0 !important;
}

.btnSidebar {

  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  font-weight: 400;
  width: 80%;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 14px;
  line-height: 1.42857143;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
}

