.body {

}

.dashboardHeading {
  padding-right: 30px;
  background-color: #FAFAFA;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.component {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
}

.content {
  width: 90%;
  float: left;
}

table {
  width: 100%;
  border-radius: 14px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.btnSidebar {

  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  font-weight: 400;
  width: 45%;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 14px;
  line-height: 1.42857143;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.scroller {
  margin: 6px, 6px;
  padding: 4px;
  height: 450px;
  overflow-x: hidden;
  overflow-x: auto;
  text-align: justify;
}
