<body class="body">
<h2 class="dashboardHeading" *ngIf="showEditTrade==true">BareBones - Equity Trading Platform</h2>
<div class="component" *ngIf="showEditTrade==true">
  <br>
  <div class="container content">
    <div class="row">
      <div class="col-12">

        <div class="mat-elevation-z8" >
          <div class="scroller">
          <table mat-table [dataSource]="allTrades" matSort class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="tradeID">
              <th mat-header-cell *matHeaderCellDef> ID</th>
              <td mat-cell *matCellDef="let trade"> {{trade.id}} </td>
            </ng-container>

            <!--  Stock -->
            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef> State</th>
              <td mat-cell *matCellDef="let trade"> {{trade.state}} </td>
            </ng-container>

            <!-- Stock Price -->
            <ng-container matColumnDef="tradePrice">
              <th mat-header-cell *matHeaderCellDef> Stock Price</th>
              <td mat-cell *matCellDef="let trade"> {{trade.price | currency}} </td>
            </ng-container>

            <!-- Trade Volume -->
            <ng-container matColumnDef="tradeSize">
              <th mat-header-cell *matHeaderCellDef> Volume</th>
              <td mat-cell *matCellDef="let trade"> {{trade.size}} </td>
            </ng-container>

            <!--  Trade Type -->
            <ng-container matColumnDef="tradeType">
              <th mat-header-cell *matHeaderCellDef> StrategyID</th>
              <td mat-cell *matCellDef="let trade"> {{trade.tradeType}} </td>
            </ng-container>

            <!--  Stock Ticker -->
            <ng-container matColumnDef="ticker">
              <th mat-header-cell *matHeaderCellDef> Stock</th>
              <td mat-cell *matCellDef="let trade"> {{trade.stockTicker}} </td>
            </ng-container>

            <!--  Last State Change -->
            <ng-container matColumnDef="LastStateChange">
              <th mat-header-cell *matHeaderCellDef> State Change</th>
              <td mat-cell *matCellDef="let trade"> {{trade.lastStateChange | date: 'short'}} </td>
            </ng-container>

            <!--  Action -->
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button style="margin-right: 10px" mat-button class="btn btn-warning" (click)="editTrade(row.id)">Edit
                </button>
                <button mat-button class="btn btn-danger">Cancel</button>
              </mat-cell>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

          </div>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Bottom Section-->

<div *ngIf="showEditTrade==false">
  <h2 class="dashboardHeading">Edit Trade</h2>
  <div class="component">
    <br><br><br>
    <div class="container content">
      <div class="row">
        <div class="col-12">
          <mat-form-field class="formStrat" style="width: 100%">
            <mat-select placeholder="Select Strategy Type" value="Two Moving Averages">
              <mat-option value="Two Moving Averages">Two Moving Averages</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <br><br><br><br>
    <div class="container content">
      <div class="row">
        <div class="col-4">
          <mat-form-field style="width: 100%" >
            <mat-select placeholder="Select Stock" [value]="singleTrade.stockTicker" >
              <mat-option *ngFor="let stock of stocks"  value="{{ stock.ticker }}">{{ stock.ticker }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Volume" [value]="singleTrade.size">
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field style="width: 100%">
            <mat-select placeholder="Exit Strategy" [value]='2' >
              <mat-option value="1">Time - AM/PM</mat-option>
              <mat-option value="2">Percentage - %</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <br><br><br><br>

    <div class="container content" *ngIf="exitStrategy==1">
      <div class="row">
        <div class="col-6" style="width: 100%">
          <mat-form-field class="formStrat" style="width: 100%">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date ( DD-MM-YYYY )">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-label style="color: #848484; margin-top:10px; display:inline-block; float:right">Select Time</mat-label>
        </div>
        <div class="col-4" style="width: 120%">
          <div class="ngx-timepicker" style="width: 100% !important; float: right !important;">
            <ngx-timepicker-field class="ngx-timepicker-control__input"
                                  style="width: 100% !important; float: right !important;"
                                  [defaultTime]="'09:15 am'"></ngx-timepicker-field>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br>
    <div class="container content" *ngIf="exitStrategy==2">
      <div class="row">
        <div class="col-6">
          <mat-label style="color: #848484">Slide for Profit/Loss Percentage</mat-label>
        </div>
        <div class="col-3">
          <mat-label id style="color: #848484">Selected Percentage</mat-label>
        </div>
        <div class="col-3">
          <mat-label id="plOutput" style="color: #848484"></mat-label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div style="width: 100%">
            <mat-slider
              thumbLabel
              [(ngModel)]="exitStrategyValue"
              [displayWith]="formatLabel"
              tickInterval="1"
              min="10"
              max="20" style="width: 100%">%
            </mat-slider>
          </div>
        </div>
      </div>
    </div>
    <div class="container content">
      <div class="row">
        <div class="col-6"></div>
        <div class="col-3">
          <button class="btn btn-info" style="margin-right: 10px; width: 100% ">Modify</button>
        </div>
        <div class="col-3">
          <button class="btn btn-primary" style="margin-right: 10px; width: 100% " (click)='showTrades()'>Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>





